<nav>
  <div class="logo">
    <img src="./assets/logo.jpeg" height="50px" style="border-radius: 50px; margin-left: 30px;" alt="">
  </div>
  <div class="links">
    <a routerLink="/home">Home</a>
  <a routerLink="/uploads" class="active">My uploads</a>
  <a routerLink="/signup">Logout</a>
  </div>
</nav>
<div class="main-div">
  <table>
    <thead>
      <th>No</th>
      <th>Name of paper</th>
      <th>Year</th>
      <th>Category</th>
      <th>Description</th>
      <th>Question file</th>
      <th>Answer file</th>
    </thead>
    <tr>
      <td>1.</td>
      <td>Physics</td>
      <td>2020</td>
      <td>Engineering</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
      <td>Question file</td>
      <td>Answer file</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Physics</td>
      <td>2020</td>
      <td>Engineering</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
      <td>Question file</td>
      <td>Answer file</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Physics</td>
      <td>2020</td>
      <td>Engineering</td>
      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
      <td>Question file</td>
      <td>Answer file</td>
    </tr>
  </table>
</div>
