<div class="main-div">
  <div class="i-div">
    <div class="illus-div">
      <h1>ConcourGuide-CMR Uploaders platform</h1>
      <img src="./assets/illus-img.jpg" height="456px" alt="">
    </div>
  </div>
  <div class="s-div">
    <div class="signup-div">
      <h1>SIGN UP</h1>
      <form action="" method="">
        <input type="text" placeholder="Name"><br>
        <input type="email" placeholder="Email"><br>
        <input type="password" placeholder="Password"><br>
        <button routerLink="/login">Register</button>
      </form>
    </div>
  </div>
</div>


